.custom-scrollbar{
    height:100%;
    width:12px;
    background: linear-gradient(to bottom, #20c997, #0dcaf0);
    box-shadow: inset 0 0 4px #dc3545;
    z-index:1000;
    position:fixed;
    top:0;
    right:0;
    scale: 1 0;
    transform-origin: top;
    animation: scrolling;
    animation-timeline: scroll(Y);
    transition: background-color 0.3s ease;
}

@keyframes scrolling{
    to{scale: 1 1};
}
